<!DOCTYPE html>
<html lang="en">

<head>
  <title>calculator</title>
  <meta charset="utf-8" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script>
    window.addEventListener("load", () => {
      let vm = new Vue({
        el: "#root",
        data: {
          currentNumber: 0,
          prevNumber: 0,
          result: 0,
          total: 0,
          disableSqrt: true,
          addTrue: false,
          subTrue: false,
          divTrue: false,
          multiTrue: false,
          squareRootTrue: false,
          squaredTrue: false,
          isDecimal: false,
          history: [],
          target: this.target,
          startingZero: false,
          notShowing: true,
          saveToHistory: "",
          outputForSquared: 0,
          outputForRoot: 0,
        },
        methods: {
          movingNumbers: function() {
            this.prevNumber = parseFloat(this.result);
            this.result = parseFloat(this.prevNumber);
            this.total = parseFloat(this.result);
          },
          addition: function(e) {
            this.target = e.target.innerHTML;
            this.isDecimal = false;
            if (this.currentNumber !== "") {
              if (this.subTrue && this.currentNumber !== "") {
                this.addTrue = true;
                this.subTrue = false;
                this.currentNumber = "-" + parseFloat(this.currentNumber);
                this.result = parseFloat(this.prevNumber) + parseFloat(this.currentNumber);
                this.movingNumbers();
                this.saveToHistory = this.result + this.target;
              } else if (this.multiTrue && this.currentNumber !== "") {
                this.addTrue = true;
                this.multiTrue = false;
                this.result = this.prevNumber * parseFloat(this.currentNumber);
                this.movingNumbers();
                this.saveToHistory = this.result + this.target;
              } else if (this.divTrue && this.currentNumber !== "") {
                this.addTrue = true;
                this.divTrue = false;
                this.result = this.prevNumber / parseFloat(this.currentNumber);
                this.movingNumbers();
                this.saveToHistory = this.result + this.target;
              } else {
                this.addTrue = true;
                this.subTrue = false;
                this.divTrue = false;
                this.multiTrue = false;
                this.squareRootTrue = false;
                this.squaredTrue = false;
                this.result = this.prevNumber + parseFloat(this.currentNumber);
                this.movingNumbers();
                this.saveToHistory = this.result + this.target;
              }
            } else if (this.squaredTrue && this.currentNumber !== "") {
              this.addTrue = true;
              this.subTrue = false;
              this.divTrue = false;
              this.multiTrue = false;
              this.squareRootTrue = false;
              this.squaredTrue = false;
              this.result = Math.pow(parseFloat(this.result), 2);
              this.movingNumbers();
              this.saveToHistory = this.result + this.target;
            } else {
              this.addTrue = true;
              this.subTrue = false;
              this.divTrue = false;
              this.multiTrue = false;
              this.squareRootTrue = false;
              this.squaredTrue = false;
              this.result = this.prevNumber;
              this.saveToHistory = this.result + this.target;
            }
            this.currentNumber = "";
          },
          sub: function(e) {
            this.target = e.target.innerHTML;
            this.saveToHistory += this.target
            if (this.addTrue && this.currentNumber == "") {
              this.subTrue = true;
              this.addTrue = false;
              this.result = parseFloat(this.result);
              this.movingNumbers();
              this.saveToHistory = this.result + this.target;
              this.currentNumber = "";
            } else {
              this.isDecimal = false;
              if (this.currentNumber == "" && this.squaredTrue != true) {
                this.subTrue = true;
                this.result = this.prevNumber;
                this.saveToHistory = this.result + this.target;
              } else if (this.currentNumber == "" && this.squaredTrue) {
                this.subTrue = true;
                this.squaredTrue = false;
                this.result = Math.pow(parseFloat(this.result), 2);
                this.movingNumbers();
                this.saveToHistory = this.result + this.target;
              } else if (this.target == "-" && this.currentNumber == "-0") {
                this.subTrue = true;
                this.currentNumber = this.target + parseFloat(this.currentNumber);
                this.saveToHistory = this.result + this.target;
              } else if (this.subTrue && this.currentNumber !== "") {
                this.result = this.prevNumber - parseFloat(this.currentNumber);
                this.movingNumbers();
                this.result = this.result + this.target;
              } else if (this.addTrue && this.currentNumber !== "") {
                this.subTrue = true;
                this.addTrue = false;
                this.result = this.prevNumber + parseFloat(this.currentNumber);
                this.movingNumbers();
                this.saveToHistory = this.result + this.target;
              } else if (this.divTrue && this.currentNumber !== "") {
                this.subTrue = true;
                this.divTrue = false;
                this.result = this.prevNumber / parseFloat(this.currentNumber);
                this.movingNumbers();
                this.saveToHistory = this.result + this.target;
              } else if (this.multiTrue && this.currentNumber !== "") {
                this.subTrue = true;
                this.multiTrue = false;
                this.result = this.prevNumber * parseFloat(this.currentNumber);
                this.movingNumbers();
                this.saveToHistory = this.result + this.target;
              } else if (this.result == this.prevNumber && this.currentNumber != "") {
                this.subTrue = true;
                this.addTrue = false;
                this.divTrue = false;
                this.multiTrue = false;
                this.squareRootTrue = false;
                this.squaredTrue = false;
                this.result = parseFloat(this.currentNumber);
                this.movingNumbers();
                this.saveToHistory = this.result + this.target;
              }
              this.currentNumber = "";
            }
          },
          divide: function(e) {
            this.divTrue = true;
            this.isDecimal = false;
            this.target = e.target.innerHTML;
            this.saveToHistory += this.target
            if (this.prevNumber == 0 && this.currentNumber != "" && this.subTrue) {
              this.subTrue = false;
              this.prevNumber = "-" + parseFloat(this.currentNumber);
              this.result = this.prevNumber;
              this.currentNumber = "";
              this.movingNumbers();
              this.saveToHistory = this.result + this.target;
            } else if (this.prevNumber == 0 && this.currentNumber != "") {
              this.prevNumber = parseFloat(this.currentNumber);
              this.result = this.prevNumber;
              this.currentNumber = "";
              this.movingNumbers();
              this.saveToHistory = this.result + this.target;
            } else if (this.subTrue && this.currentNumber !== "") {
              this.subTrue = false;
              this.result = this.prevNumber - parseFloat(this.currentNumber);
              this.movingNumbers();
              this.saveToHistory = this.result + this.target;
            } else if (this.addTrue && this.currentNumber !== "") {
              this.addTrue = false;
              this.result = this.prevNumber + parseFloat(this.currentNumber);
              this.movingNumbers();
              this.saveToHistory = this.result + this.target;
            } else if (this.multiTrue && this.currentNumber !== "") {
              this.multiTrue = false;
              this.result = this.prevNumber * parseFloat(this.currentNumber);
              this.movingNumbers();
              this.saveToHistory = this.result + this.target;
            } else if (this.divTrue && this.currentNumber !== "" && this.currentNumber !== 0) {
              this.result = this.prevNumber / parseFloat(this.currentNumber);
              this.movingNumbers();
              this.saveToHistory = this.result + this.target;
            } else {
              this.addTrue = false;
              this.subTrue = false;
              this.divTrue = true;
              this.multiTrue = false;
              this.squareRootTrue = false;
              this.squaredTrue = false;
              this.result = this.prevNumber;
              this.saveToHistory = this.result + this.target;
            }
            this.currentNumber = "";
          },
          multiply: function(e) {
            this.multiTrue = true;
            this.isDecimal = false;
            this.target = e.target.innerHTML;
            this.saveToHistory += this.target;
            if (this.multiTrue && this.prevNumber === 0 && this.subTrue) {
              this.prevNumber = -1;
              this.result = parseFloat(this.prevNumber) * parseFloat(this.currentNumber);
              this.movingNumbers();
              this.subTrue = false;
              this.saveToHistory = this.result + this.target;
            } else if (this.multiTrue && this.prevNumber == 0) {
              this.prevNumber = 1;
              this.result = parseFloat(this.prevNumber) * parseFloat(this.currentNumber);
              this.movingNumbers();
              this.saveToHistory = this.result + this.target;
            } else if (this.subTrue && this.currentNumber !== "") {
              this.result = this.prevNumber - this.currentNumber;
              this.movingNumbers();
              this.subTrue = false;
              this.saveToHistory = this.result + this.target;
            } else if (this.divTrue && this.currentNumber !== "") {
              this.result = parseFloat(this.prevNumber) / parseFloat(this.currentNumber);
              this.movingNumbers();
              this.divTrue = false;
              this.saveToHistory = this.result + this.target;
            } else if (this.addTrue && this.currentNumber !== "") {
              this.addTrue = false;
              this.result = parseFloat(this.prevNumber) + parseFloat(this.currentNumber);
              this.movingNumbers();
              this.saveToHistory = this.result + this.target;
            } else if (this.multiTrue && this.currentNumber !== "") {
              this.result = parseFloat(this.prevNumber) * parseFloat(this.currentNumber);
              this.movingNumbers();
              this.saveToHistory = this.result + this.target;
            } else {
              this.addTrue = false;
              this.subTrue = false;
              this.divTrue = false;
              this.multiTrue = true;
              this.squareRootTrue = false;
              this.squaredTrue = false;
              this.result = this.prevNumber;
              this.saveToHistory = this.result + this.target;
            }
            this.currentNumber = "";
          },
          squareRoot: function(e) {
            this.target = e.target.innerHTML;
            this.squareRootTrue = true;
            this.isDecimal = false;
            if (this.squareRootTrue && this.currentNumber != "") {
              this.result = Math.sqrt(this.currentNumber);
              this.prevNumber = this.total;
              this.saveToHistory = this.target + this.currentNumber + "=" + this.result;
              this.history.push(this.saveToHistory);
              this.saveToHistory = this.result;
              this.movingNumbers();
            } else if (this.divTrue || this.multiTrue || this.addTrue || this.subTrue && this.currentNumber == "") {
              this.result = Math.sqrt(this.currentNumber);
              this.movingNumbers();
              this.saveToHistory = this.target + this.currentNumber + "=" + this.result
              this.history.push(this.saveToHistory);
              this.saveToHistory = this.result;
              this.currentNumber = "";
            } else {
              this.outputForRoot = this.prevNumber
              this.result = Math.sqrt(this.result);
              this.saveToHistory = this.target + this.outputForRoot + "=" + this.result
              this.history.push(this.saveToHistory);
              this.saveToHistory = this.result;
              this.movingNumbers();
            }
            this.currentNumber = "";
          },
          squared: function(e) {
            this.target = e.target.innerHTML;
            this.isDecimal = false;
            if (this.currentNumber == "" && this.result == 0) {
              this.result = 0;
              this.prevNumber = this.total;
              this.currentNumber = "";
            } else if (this.result == 0) {
              this.outputForSquared = this.currentNumber;
              this.result = Math.pow(parseFloat(this.currentNumber), 2);
              this.movingNumbers();
              this.squaredTrue = false;
              this.currentNumber = "";
              this.saveToHistory = this.outputForSquared + this.target + "=" + this.result
              this.history.push(this.saveToHistory);
              this.saveToHistory = this.result;
            } else if (this.currentNumber !== "") {
              this.outputForSquared = this.prevNumber;
              this.result = Math.pow(parseFloat(this.currentNumber), 2);
              this.saveToHistory = this.outputForSquared + this.target + "=" + this.result
              this.movingNumbers();
              this.currentNumber = "";
              this.history.push(this.saveToHistory);
              this.saveToHistory = this.result;
            } else if (this.divTrue || this.multiTrue || this.addTrue || this.subTrue && this.currentNumber == "") {
              this.result = Math.pow(parseFloat(this.prevNumber), 2);
              this.movingNumbers()
              this.currentNumber = "";
              this.saveToHistory = this.prevNumber + this.target + "=" + this.result
              this.history.push(this.saveToHistory);
              this.saveToHistory = this.result;
            } else {
              this.result = Math.pow(parseFloat(this.result), 2);
              this.saveToHistory = this.prevNumber + this.target + "=" + this.result
              this.prevNumber = this.total;
              this.currentNumber = "";
              this.movingNumbers();
              this.history.push(this.saveToHistory);
              this.saveToHistory = this.result;
            }
          },
          theResult: function() {
            if (this.addTrue) {
              this.result = parseFloat(this.result) + parseFloat(this.currentNumber);
              this.movingNumbers();
              this.addTrue = false;
              this.currentNumber = "";
              this.saveToHistory = this.saveToHistory + "=" + this.result;
              this.history.push(this.saveToHistory);
              this.saveToHistory = this.result;
            } else if (this.subTrue) {
              this.result = this.prevNumber - parseFloat(this.currentNumber);
              this.movingNumbers();
              this.subTrue = false;
              this.history.push(this.result);
              this.saveToHistory = this.saveToHistory + "=" + this.result;
              this.currentNumber = "";
              this.history.push(this.saveToHistory);
              this.saveToHistory = this.result;
            } else if (this.divTrue) {
              if (this.currentNumber === 0 || this.currentNumber == "") {
                console.log("can't divide by zero");
              } else {
                this.result = this.prevNumber / parseFloat(this.currentNumber);
                this.movingNumbers();
                this.divTrue = false;
                this.currentNumber = "";
                this.saveToHistory = this.saveToHistory + "=" + this.result;
                this.history.push(this.saveToHistory);
                this.saveToHistory = this.result;
              }
            } else if (this.multiTrue) {
              this.result = parseFloat(this.result) * this.currentNumber;
              this.multiTrue = false;
              this.movingNumbers();
              this.saveToHistory = this.saveToHistory + "=" + this.result;
              this.currentNumber = "";
              this.history.push(this.saveToHistory);
              this.saveToHistory = this.result;
            }
          },
          clear: function() {
            this.isDecimal = false;
            this.prevNumber = 0;
            this.total = 0;
            this.currentNumber = 0;
            this.result = 0;
            this.addTrue = false;
            this.subTrue = false;
            this.divTrue = false;
            this.multiTrue = false;
            this.saveToHistory = "";
            this.startingZero = false;
          },
          addNr: function(e) {
            this.target = e.target.innerHTML
            this.saveToHistory += this.target
            if (e.target.innerHTML == ".") {
              this.startingZero = true;
              this.isDecimal = true;
              this.currentNumber = this.currentNumber + this.target;
            } else if (this.currentNumber == 0 && this.prevNumber == 0 && this.result == 0) {
              this.currentNumber == ""
              if (this.startingZero) {
                this.currentNumber = this.currentNumber + this.target
              } else {
                this.currentNumber = parseFloat(this.target);
              }
            } else if (this.currentNumber == -0) {
              if (this.startingZero) {
                this.currentNumber = this.currentNumber + this.target
              } else {
                this.currentNumber = parseFloat(this.target);
              }
            } else {
              this.currentNumber = this.currentNumber + "" + parseFloat(this.target);
            }
          }
        }
      })
    })
  </script>
  <style>
    body {
      font-family: monospace;
    }

    #results {
      padding: 5px;
      color: lightgrey;
      background-color: black;
      border: 2px solid white;
      height: 50px;
      max-width: 355px;
      margin: 5px;
      font-size: 36px;
      text-align: right;
      padding-right: 10px;
      overflow: hidden;
    }

    p {
      font-size: 30px;
    }

    button {
      color: ghostwhite;
      background-color: black;
      padding: 20px;
      font-weight: 700;
      font-size: 20px;
      width: 80px;
      height: 70px;
      cursor: pointer;
    }



    button:nth-last-child(n) {
      padding: 20px;
      margin: 5px;
      font-weight: 700;
      font-size: 20px;
      width: 80px;
    }

    button.result {
      width: 180px;

    }

    #disabledBtn {
      opacity: 0;
    }

    button:hover {
      background-color: crimson;
    }

    #inputField {
      margin: 5px;
      border: 2px solid grey;
      height: 70px;
      width: 370px;
      font-size: 32px;
      background-color: black;
      color: ghostwhite;
      text-align: right;
    }

    #calc {
      margin-top: 10px;
      padding: 10px;
      display: inline-block;
      background-color: #696969;
      box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    #output {
      position: absolute;
      left: 450px;
      top: 0;
    }

    ul {
      font-size: 20px;
      list-style-type: none;
      padding-left: 2px;
      margin-top: -10px;
    }

    li {
      width: 100px;
    }
  </style>
</head>

<body>

  <div id="root">
    <div id="calc">
      <p id="results">{{saveToHistory}}</p>
      <input id="inputField" v-model.number="currentNumber" onkeypress="return event.charCode >= 48 && event.charCode <= 57"></input>
      <br>
      <button v-on:click="clear">C</button>
      <button v-on:click="squareRoot" v-if="this.result > 0">√</button>
      <button v-on:click="squareRoot" v-else-if="this.currentNumber > 0">√</button>
      <button id="disabledBtn" v-else v-bind:disabled="notShowing">X</button>
      <button v-on:click="squared">x²</button>
      <button v-on:click="divide">/</button>
      <br>
      <button v-on:click="addNr">7</button>
      <button v-on:click="addNr">8</button>
      <button v-on:click="addNr">9</button>
      <button v-on:click="multiply">*</button>
      <br>
      <button v-on:click="addNr">4</button>
      <button v-on:click="addNr">5</button>
      <button v-on:click="addNr">6</button>
      <button v-on:click="sub">-</button>
      <br>
      <button v-on:click="addNr">1</button>
      <button v-on:click="addNr">2</button>
      <button v-on:click="addNr">3</button>
      <button v-on:click="addition">+</button>
      <br>
      <button v-bind:disabled="isDecimal" v-on:click="addNr">.</button>
      <button v-on:click="addNr">0</button>
      <button class="result" v-on:click="theResult">=</button>

      <div id="output">
        <h1>History:</h1>
        <ul>
          <li class="calcHistory" v-for="item in history">
            {{ item }}
          </li>
        </ul>
      </div>
    </div>

    <br>

  </div>

</body>

</html>
